.navtab {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
}

.navtab__button {
    width: 96px;
    height: 36px;
    cursor: pointer;
    background-color: #E8E8E8;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    font-weight: 500;
    font-style: normal;
}