.navtab {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
}

@media (max-width: 600px) {
  .navtab {
    gap: 6px;
  }
}

.navtab__button {
  width: 96px;
  height: 36px;
  cursor: pointer;
  background-color: #e8e8e8;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 600px) {
  .navtab__button {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 26px;
  }
}
